<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Casa 2 Studio</title>

    <link rel="stylesheet" href="../styles/homeScreen.css">
</head>

<body>

    <main class="home-container">

        <img 
            class="logo" 
            src="../image/IMG_0434.PNG" 
            alt="Logo Casa 2 Studio"
        >
        <a href="agendaScreen.html" class="buttonEntrar">
            Entrar na Agenda
        </a>
        
    </main>

</body>

</html>